################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RazorPages/FileContentIndex/cbe13413-ce4e-4c5b-9c41-05b41013104b.vsidx
/.vs/RazorPages/FileContentIndex/6944e622-1ee6-4e8e-87eb-b2460d82fa4e.vsidx
/.vs/RazorPages/FileContentIndex/051a74bf-b1a3-4525-a767-07cedeced076.vsidx
/.vs/RazorPages/FileContentIndex/13076c8a-e4c3-4a77-9926-42d542e22bd1.vsidx
/.vs/RazorPages/FileContentIndex/3ca68f5c-d8da-43d6-9e78-66918b296ec0.vsidx
/.vs/RazorPages/FileContentIndex/67763191-9a7b-4d65-b080-d5c18140f0d7.vsidx
/.vs/RazorPages/FileContentIndex/a0781b96-0123-4709-a372-0c195563c63c.vsidx
/.vs/RazorPages/FileContentIndex/a91b6b92-ec2a-4fde-860a-7f89d7431e47.vsidx
/.vs/RazorPages/FileContentIndex/da3ecc18-5f32-4bbd-82db-11c332126746.vsidx
/.vs/RazorPages/FileContentIndex/e15780fe-6fef-4e5e-8521-d23300bf867f.vsidx
/.vs/RazorPages/FileContentIndex/e5c04a95-70bc-450f-8074-ae07fec73ada.vsidx
