@page
@model RP_9_10.Pages.AboutModel

<h1>О Ресторане</h1>
<p>Restoria — обладатель звезды Мишлен, расположенный в сердце мегаполиса. Это уникальное место, где собраны лучшие блюда всех мировых кухонь: от утончённого японского суши и французского фуа-гра до пряного индийского карри и пикантных мексиканских тако. Шеф-повар, виртуоз кулинарии, создаёт гастрономические шедевры, сочетая традиции и инновации. Интерьер ресторана — это элегантное путешествие по культурам мира, а атмосфера располагает к наслаждению каждым вкусом. Restoria — место, где каждый найдёт своё идеальное блюдо.</p>