@page
@using RP_9_10.Pages
@model RP_9_10.Pages.AddressesModel
@using RP_9_10.Models;
@using RP_9_10.Services;

@inject IAddressService addressService;

<h1>Адреса ресторанов</h1>

<hr />

<ol>
	@foreach (RestaurantAddress address in addressService.GetRestaurantAddresses())
	{
		<li>@address.ToString()</li>
	}
</ol>

@* <h2>Москва</h2>
<ul>
	<li>
		<p>Адрес: ул. Тверская, д. 12, стр. 3, Москва, Россия, 125009</p>
		<p>Элегантный ресторан в центре города, предлагающий изысканные блюда от русской классики до паназиатских деликатесов, с видом на историческую улицу.</p>
	</li>
	<li>
		<p>Адрес: ул. Старый Арбат, д. 25, Москва, Россия, 119002</p>
		<p>Уютное заведение в пешеходной зоне Арбата, где подают всё — от итальянской пасты до индийского тандури, в атмосфере старинного особняка.</p>
	</li>
	<li>
		<p>Адрес: Кутузовский проспект, д. 2/1, Москва, Россия, 121248</p>
		<p>Расположен на верхнем этаже с панорамным видом на Москва-реку, предлагает гастрономическое путешествие по кухням мира с акцентом на локальные ингредиенты.</p>
	</li>
</ul>
<br />
<h2>Санкт-Петербург</h2>
<ul>
	<li>
		<p>Адрес: Невский проспект, д. 45/2, Санкт-Петербург, Россия, 191186</p>
		<p>Роскошный ресторан рядом с Эрмитажем, где можно попробовать всё — от грузинского хачапури до французских круассанов, в интерьере в стиле модерн.</p>
	</li>
	<li>
		<p>Адрес: 6-я линия Васильевского острова, д. 17, Санкт-Петербург, Россия, 199034</p>
		<p>Уникальное место с видом на Неву, где сочетаются мексиканские тако, японские суши и русские пельмени в изысканной подаче.</p>
	</li>
</ul>
<br />
<h2>Лондон</h2>
<ul>
	<li>
		<p>Адрес: 28 Grosvenor Street, Mayfair, London, W1K 4QR, United Kingdom</p>
		<p>Ресторан в престижном районе Мейфэр, предлагающий утончённые блюда от британской классики до тайских карри в элегантной обстановке.</p>
	</li>
	<li>
		<p>Адрес: 15 Embankment Place, London, WC2N 6NN, United Kingdom</p>
		<p>Заведение на берегу Темзы с панорамными окнами, где подают всё — от итальянской пиццы до индийских самос, с акцентом на свежие ингредиенты.</p>
	</li>
</ul> *@